# Eclipse stuff
/.classpath
/.project
/.settings

# vscode config
/.vscode

# netbeans
/nbproject

# maven
/target
/dependency-reduced-pom.xml

# ant
/bin
/dist

# vim
.*.sw[a-p]
